body{
    background-color: black;
   
}
.Home{
    color:#FFFFFE;
}
.home-title{
    position: absolute;
       top:120px;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 0.12cap;
    line-height: 1cem;
    font-size: 75px;
    min-width:100px;
}

img{
    max-width:150px;
    
}
.os-img{
    width: 150px;
   height:200px;
    margin-left:200px;
    border:3px solid black;
    border-radius:10px;
    
    
}
.os-img:hover{
    box-shadow: rgba(255, 255, 255, 0.952) -6px 6px;
    transform: translate(5px, -5px);
    filter: brightness(150%);
    cursor:pointer;
    transition-delay: 0.05s;
}

.cn-img,.daa-img,.laa-img,.mpca-img{
   width: 150px;
   height:200px;
   margin:40px 10px 0px 40px;
   border:3px solid black;
   border-radius:10px;
    margin-left:200px;
}
.cn-img:hover,.daa-img:hover,.laa-img:hover,.mpca-img:hover{
    box-shadow: rgba(255, 255, 255, 0.952) -6px 6px;
    transform: translate(5px, -5px);
    filter: brightness(120%);
    cursor:pointer;
    transition-delay: 0.05s;
}
.mode{
  padding: 10px 10px 10px 10px;
border-radius: 10px;
border:3px ;

}
